@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.carousel-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 70px;
}

.carousel-container img {
    width: 800px;
    height: 500px;
}

.navbar {
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    padding: 15px;
}

  .navbar-heading {
    color: white;
    margin: 0; 
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 20px;
  }
  .navbar ul {
    display: flex; 
    list-style: none; 
}
  .navbar li {
    margin-top: 10px;
    margin-right: 25px; 
}

.navbar a {
    color: white; 
    text-decoration: none; 
    font-weight: 500;
}

.navbar a:hover {
    color: red; 
}
  
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.para{
    margin-top: 60px;
    background-color: rgba(128, 128, 128, 0.622);
    width: 800px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.677);
    margin-bottom: 20px;
}

.para h2{
    margin-left: 290px;
    margin-bottom: 30px;
}

.scroll-to-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 8px;
    border-radius: 10px;
    border: none;
    background-color: rgba(174, 128, 69, 0.834);
    font-weight: bold;
}

.scroll-to-top:hover{
    background-color: rgb(196, 127, 37);
    color: white;
}