@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
  font-family: "Roboto Condensed";
}

body{
  margin: 0;
  padding: 0;
  width: 10px;
  height: 10px;
  width: 100vw;
  height: 100vh;
  background-color: rgb(36, 39, 91);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  width: 350px;
  padding: 20px;
  background-color: aliceblue;
  border-radius: 8px;
  box-shadow: 0 4px 8px black;
}

.input-container{
  width: 100%;
  display: flex;
  align-items: center;
  border: 2px solid rgb(77, 77, 252);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 5px;
}

.cityInput{
  flex: 1;
  height: 30px;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16px
}
.searchimage{
  padding: 10px;
  cursor: pointer;
}

.searchimage img{
  margin-top: 5px;
  height: 30px;
  width: 30px;
}

.image{
  text-align: center;
  height: 150px;
  margin-bottom: 10px;
}

.image img{
  width: 150px;
  height: 150px;
}

.temp, .location, .country{
  margin-top: 5px;
  font-size: 35px;
  color: #333;
  text-transform: uppercase;
  text-align: center;
}

.temp{
  font-weight: 500;
}

.location{
  color: #ffbc00;
  font-weight: 400;
  font-size: 40px;
}
.country{
  font-size: 18px;
  color: #888;
  font-weight: 500;
}
.cord{
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  text-align: center;
}
.cord div{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 10px;
}

.humidity-percent, .wind-percent,
.cord div span:nth-child(2){
  font-size: 18px;
  font-weight: bold;
  color: #666;
  padding-top: 5px;
}

.data-container{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.element{
  text-align: center;
}
.icon{
  height: 50px;
  width: 50px;
}
.text{
  font-size: 12px;
  color: #888;
}

.error-message, .loading-message, .city-not-found{
  margin-top: 10px;
  color: #888;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
}