@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
  background-color: darkseagreen;
  overflow: auto; 
  height: 100%;
}

.inputButton{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.inputButton input{
  width: 300px;
  height: 40px;
  padding: 10px;
  margin-top: 15px;
  outline: none;
  border: none;
  border-radius: 5px;
}

.inputButton button{
  width: 130px;
  height: 40px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background-color: rgb(67, 134, 67);
  cursor: pointer;
}

.inputButton button:hover{
  background-color: rgb(39, 98, 39);
  color: white;
}

.container{
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 250px;
  height: 350px;
  padding: 25px;
  border-radius: 10px;  
  gap: 10px;
  overflow-wrap: anywhere;
}
.container h2{
  margin-top: 10px;
  margin-bottom: 40px;
  text-align: center;
}
.container p{
  font-size: 15px;
  font-weight: 300;
}

.container-box{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}


@media (max-width: 768px) {
  .container-box {
    flex-direction: column;
    align-items: center; 
  }

  .container {
    width: 90%; 
    max-width: 300px; 
    margin-bottom: 5px;
  }
}


.checkspan{
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.checkspan span{
  display: flex;
  align-items: center;
  margin-left: 5px;
  gap: 5px;
}
.inputButton h1{
  margin-top: 5px;
  margin-bottom: 40px;
  color: rgb(67, 134, 67);
  font-size: 40px;
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.delete{
  width: 100px;
  height: 40px;
  margin-top: 30px;
  border: none;
  border-radius: 5px;
  background-color: rgb(67, 134, 67);
  cursor: pointer;
}

.delete:hover{
  background-color: rgb(39, 98, 39);
  color: white;
}